*
 {
	font-family: 'EB Garamond', serif; 	} 

 body, html, header, h1{
 	margin: 0px;
 	padding: 0px;
 } 
 header, html,body{
 	width: 100%;
 	height: 100%;
 }
 .header{
 	background: url("image/corps.jpeg") no-repeat center center;
 	background-size: cover;
 	color :black;
 }

.wrapper{
	display: table;
	width: 100%;
	height: 100%;
}

.content{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}	

.test{
	color: white;
	font-size: 1.2em;
}

footer{
	padding-top: 10px;
}
p{
	text-align: center;
	font-size: 30px;
}
.title{
	color: black;
	font-size: 50px;
}
.sub{
/*	color: black;
	font-size: 1px;
	font-family: Times, Times New Roman, serif;*/
	color: black;
	font-size: 30px;
}
.navbar-brand{
	font-size: 70px;
}
.linked-color{
	color: #F68D6C;
	font-weight: bold;
}